# Eclipse project files 
**/.project
**/.settings/
**/.classpath

# OSX files
**/.DS_Store

# Emscripten files
emsdk/**/*.js
**/*.mjs
**/*.wasm

# Dataform files
.df-credentials.json
node_modules/

*.log
